ASPNETCORE_ENVIRONMENT=Production
JWT__SECRET=replace-this-secret
JWT__ISSUER=replace-this-issuer
JWT__AUDIENCE=replace-this-audience
DEFAULTUSERS__0__USERNAME=admin
DEFAULTUSERS__0__EMAIL=admin@admin.com
DEFAULTUSERS__0__PASSWORD=replace-this-password
DEFAULTUSERS__0__ROLES__0=Admin
EMAIL__USERNAME=your-smtp-username
EMAIL__PASSWORD=your-smtp-password
EMAIL__SERVER=localhost
EMAIL__PORT=1025
EMAIL__USESSL=false
POSTGRES__SERVER=postgres
ELASTIC__SERVER=elastic
Cors__AllowedOrigins__0=https://localhost:8081
Cors__AllowedOrigins__1=https://login.microsoftonline.com