ASPNETCORE_ENVIRONMENT=Production
JWT__SECRET=replace-this-secret
JWT__ISSUER=replace-this-issuer
JWT__AUDIENCE=replace-this-audience
DEFAULTUSER__0__USERNAME=admin
DEFAULTUSER__0__EMAIL=admin@admin.com
DEFAULTUSER__0__PASSWORD=replace-this-password
DEFAULTUSER__0__ROLES__0=Admin